<div class="maincontainer">
  <div class="sidebar">
    <div class="logocontainer">
      <!-- logo svg -->
      <svg
        width="65"
        height="62"
        viewBox="0 0 65 62"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M16.9714 0.000188009L32.5 31.0574L48.0286 0.00018819C58.1393 5.50976 65 16.2324 65 28.5574C65 46.5066 50.4493 61.0574 32.5 61.0574C14.5507 61.0574 0 46.5066 0 28.5574C0 16.2324 6.86068 5.50976 16.9714 0.000188009Z"
        />
      </svg>
      <!-- gradiend style in logo -->
      <span></span>
    </div>
    <div class="picthemecontainer">
      <div class="themewrap">
        <img src="../assets/icons/moon.svg" alt="moon" />
      </div>
      <div class="profilewrap">
        <figure>
          <img src="../assets/icons/profilepic.jpg" alt="profile" />
        </figure>
      </div>
    </div>
  </div>
  <div class="contentwrapper">
    <div class="content">
      <div class="menu">
        <div class="menuhead">
          <p class="headtext">Invoices</p>
          <p class="totaltext">There are 12 total invoices</p>
        </div>
        <div class="menuoptions">
          <div class="filterwrap">
            <p>Filter by status</p>
            <img src="../assets/icons/filter.png" alt="filter icon" />
            
            <div class="filtermenu">
              <span class="option">
                <input class="filteroptions" type="checkbox" id="draft" />
                <label for="draft"><p>Draft</p></label>
              </span>
              <span class="option">
                <input class="filteroptions" type="checkbox" id="pending" />
                <label for="pending"><p>Pending</p></label>
              </span>
              <span class="option">
                <input class="filteroptions" type="checkbox" id="paid" />
                <label for="paid"><p>Paid</p></label>
              </span>
            </div>
          </div>
          <div class="newinvoice">
              <span class="addinvoiceIcon">
                <img src="../assets/icons/addinvoice.png" alt="add invoice">
              </span>
              <p class="newinvoiceText">New Invoice</p>
          </div>
        </div>
      </div>
      <div class="routeroutlet"></div>
    </div>
  </div>
</div>
